
.footer {
    background-color: #ebedf2;
    border-top: 1px solid lightgray;
    color: #333;
}
.footer a {
    color: #333;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px;
}
.footer-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-head {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.divider {
    height: 3px;
    width: 100%;
    border-top : 1px solid #ccc;
    margin:30px 0;
}
.social-icons-container {
    display: flex;
   justify-content: space-around;
}
@media (max-width:768px) {
    .social-icons-container {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    
}
.social-icons svg {
    width: 25px;
    height: 25px;
    margin-right: 25px;
}